.NotPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    object-fit: cover;
}

.NotPage h1,
.NotPage h2 {
    text-align: center;
    color: #222;
    font-weight: 800;

}